.outer{
    border: 5px solid rgba(128, 0, 128, 0.284);
    height: 360px;
    width: 60vw;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(173, 216, 230, 0.838);
    color: black;
    box-shadow: -9px 9px  8px rgba(0, 0, 0, 0.519);
}
.disp{
    border: 3px solid rgba(10, 0, 0, 0.224);
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 800;
   padding-top: 20px;
   letter-spacing: 5px;
}
button{
    padding: 15px;
    font-size: 24px;
    border-radius: 30px;
    border-color: rgba(14, 2, 2, 0.212);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    background-color: rgb(204, 188, 218);
    cursor: pointer;
}
button:hover{
    background-color: darkblue;
    color: white;
}

a{
    background-color:  rgb(126, 17, 222);
    color: white;
    padding: 20px;
    text-decoration: none;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    border-radius: 0px 30px 30px 0px;
    font-size: 20px;
  
    
}
.a{
    margin-top: 50px;
}
